{
    email admin@alsakronline.com
}

app.alsakronline.com {
    reverse_proxy frontend:3000
    encode gzip
}

erp.app.alsakronline.com {
    reverse_proxy erpnext-frontend:8080
    encode gzip
}

api.app.alsakronline.com {
    reverse_proxy backend:8000
    encode gzip
}

workflows.app.alsakronline.com {
    reverse_proxy n8n:5678
    encode gzip
}
